{{ define "contents" }}

    {{ $contents := get_contents_sequence .page.Style.ContentsSequence }}

    {{ $theme := .page.Theme }}
    {{ $style := .page.Style }}
    {{ $item := .page.Item }}
    
    {{ $const_contents := get_contents "" }}
    {{ $show_contents := index $contents 0 }}

    {{ range $ii, $vv := $show_contents }}

        {{ if eq $vv.Value $const_contents.SEARCH_WINDOW.Value }} 

            <div id="SearchWindow">
                Search Window
            </div>

        {{ else if eq $vv.Value $const_contents.THEME_MESSAGE1.Value }}

            <div id="ThemeMessage1">
                {{ $theme.Message1 }}
            </div>

        {{ else if eq $vv.Value $const_contents.THEME_MESSAGE2.Value }}

            <div id="ThemeMessage2">
                {{ $theme.Message2 }}
            </div>

        {{ else if eq $vv.Value $const_contents.THEME_MESSAGE3.Value }}

            <div id="ThemeMessage3">
                {{ $theme.Message3 }}
            </div>

        {{ else if eq $vv.Value $const_contents.THEME_MESSAGE4.Value }}

            <div id="ThemeMessage4">
                {{ $theme.Message4 }}
            </div>

        {{ else if eq $vv.Value $const_contents.THEME_MESSAGE5.Value }}

            <div id="ThemeMessage5">
                {{ $theme.Message5 }}
            </div>

        {{ else if eq $vv.Value $const_contents.STYLE_MESSAGE1.Value }}

            <div id="StyleMessage1">
                {{ $style.Message1 }}
            </div>

        {{ else if eq $vv.Value $const_contents.STYLE_MESSAGE2.Value }}

            <div id="StyleMessage2">
                {{ $style.Message2 }}
            </div>

        {{ else if eq $vv.Value $const_contents.ITEM_MESSAGE1.Value }}
        
            <div id="ItemMessage1">
                {{ $item.Message1 }}
            </div>

        {{ else if eq $vv.Value $const_contents.ITEM_MESSAGE2.Value }}

            <div id="ItemMessage2">
                {{ $item.Message2 }}
            </div>

        {{ else if eq $vv.Value $const_contents.ITEM_PARTS1.Value }}

            <div id="ItemParts1">
                Item Parts1
            </div>

        {{ else if eq $vv.Value $const_contents.ITEM_PARTS2.Value }}

            <div id="ItemParts2">
                Item Parts2
            </div>

        {{ else if eq $vv.Value $const_contents.ITEM_PARTS3.Value }}

            <div id="ItemParts3">
                Item Parts3
            </div>

        {{ else if eq $vv.Value $const_contents.SITE_MAP.Value }}

            <div id="Sitemap">
                Sitemap
            </div>

        {{ end }}    

    {{ end }}

{{ end }}
